* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
body {
  background: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.form-container {
  padding: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}
input {
  padding: 15px;
  border-style: inset;
  outline: none;
  background: transparent;
  color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 19px;
}
.btn {
  padding: 13px;
  /* border: none; */
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  border-color: red;
}
.container p{
  color: #fff;
  font-size: 19px;
}
